  /*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 400;
  background: #FAFAFA;
  color: #353535;
  margin: 0;

}

*{
  /* border: black 0.5px solid; */
  /* overflow-x: hidden; */
}

.landingHero{
  width: auto;
}

.landingHero img{
  display:block;
  width: auto;
  max-width: 100%;
}


.infoLink{
    color: #CC6C9A;
    text-decoration: underline;
}

.infoLink:hover, .infoLink:focus{
    color:#CC6C9A;
    text-decoration: none;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #727272;
}

section{
    margin-bottom: 4rem;
}

h1{
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #353535;
}

h2 {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  color: #353535;
  font-size: 1em;
}

h3 {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  margin-top: 1rem;
  color: #353535;
  font-size: auto;

}

h4 {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 0.25rem;
  color: #353535;
  font-size: auto;
}

p {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 300;
  margin-top: 0;
  max-width: 60rem;
  color: #353535;
    max-width: 30rem;
    font-size: auto;

}

li {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  margin-top: 0;
  max-width: 60rem;
  color: #353535;

}

.p-product{
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  margin-top: 0;
  max-width: 30rem;
}

a{
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  color: #CC6C9A;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  color: #727272;
  transition-duration: 0.5s;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
nav a:hover, nav a:focus {
  color: #727272;
}

.nav a {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  padding: 1rem;
  color: #CC6C9A;
}
.mainNav{
  justify-content: space-around;
  text-decoration: none;
  padding-left: 1rem;
}

.mainNav a{
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 400;
  padding: 0.5rem;
}
.titleNav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.homeNavLink{
  color: #353535;
}

.landingHero{
  padding-top: 3vw;
}

.products{
  margin-top: 5rem;
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product img{
  padding: 5rem;
}

.imgDetail{
    border:none;
    border-radius: 25px;
    flex-shrink: 0
}

.headerLink{
  font-family: 'PP Right Didone - Spatial Fine', 'Garamond', serif;
  font-size: 2.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #353535;
  font-size: 100px;
}

code {
  background-color: #EEE;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  display: block;
}
.imgLink{
}
.imgLink:hover{
  opacity: 70%;
}
/*
  INTERACTIVE ELEMENTS -------------------
*/

#interactive_elements{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50vw, 50vw;
}

.intElement1{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #727272;

  grid-column: 1 / 2;
  grid-row: 1;
}
.intElement2{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #727272;

  grid-column: 2 / 2;
  grid-row: 1;
}
.intElement3{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #727272;

  grid-column: 1 / 2;
  grid-row: 2;
}
.intElement4{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #7272 72;

  grid-column: 2 / 2;
  grid-row: 2;
}
.intElement5{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #727272;

  grid-column: 1 / 2;
  grid-row: 3;
}

#text_elements{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50vw, 50vw;
}

.textElement1{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #727272;

  grid-column: 1 / 2;
  grid-row: 1;
}
.textElement2{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #727272;

  grid-column: 2 / 2;
  grid-row: 1;
}
.textElement3{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #727272;
}
.textElement4{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #727272;
}
.textElement5{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #727272;
}

/* Styling for the navigation button */
.defaultButton {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  font-size: 1vw;
  color: #CC6C9A;
  border: 2px #CC6C9A solid;
  background:#FAFAFA;
  border-radius: 0.5rem;
  width: 15vw;
  padding: 8px;
  margin: 8px 0;
}



.defaultButton:hover, .defaultButton:focus {
  background-color: #CC6C9A;
  border: 3px solid;
  border-color: #CC6C9A;

  color: #ffffff;
  width: 15rem;
  padding: 8px;
  margin: 8px 0;
  transition-duration: 0.5s;

}

.navSubmit{
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  background-color: white;
  background-color: #CC6C9A;

  border: 2px solid #CC6C9A;
  color: white;
  width: 15rem;
  padding: 10px;
  margin: 8px 0;
}

.navSubmit:focus, .navSubmit:hover {
  color: #CC6C9A;
  background-color: #ffffff;
  border: 2px solid #CC6C9A;
  transition-duration: 0.5s;
}

.navReset{
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  border: 2px solid #CC6C9A;
  background-color: white;
  color: #CC6C9A;
  width: 15rem;
  padding: 10px;
  margin: 8px 0;
}

.navReset:focus, .navReset:hover {
  color: white;
  background-color: #CC6C9A;
  border: 1px solid white;
=======
  color: #CC6C9A;
  background-color: #CC6C9A;
  border: 1px solid #CC6C9A;
  transition-duration: 0.5s;
}

.allProducts{
  padding-top: 3vw;
  padding-bottom: 3vw;
  display: flex;
  justify-content: center;
}

.hero1, .hero2, .hero3, .hero4{
  position: relative;
}

.hero1Content{
  display: block;
  line-height: 1rem;
  position: absolute;
  bottom: 10vw;
  left: 4vw;

}

.hero2Content{
  display: block;
  line-height: 1vw;
  position: absolute;
  bottom: 10vw;
  right: 4vw;
  max-width: 25vw;
}

.hero3Content{
  display: block;
  line-height: 1vw;
  position: absolute;
  bottom: 10vw;
  left: 4vw;
  max-width: 25vw;
}

.hero4Content{
  display: block;
  line-height: 1vw;
  position: absolute;
  bottom: 10vw;
  right: 4vw;
  max-width: 25vw;
}

.hero1Content h2, .hero2Content h2, .hero3Content h2, .hero4Content h2 {
  color: #FAFAFA;
  font-size: 3vw;
}

.hero1Content p, .hero2Content p, .hero3Content p, .hero4Content p {
  color: #FAFAFA;
  font-size: 1vw;
}

footer{
  background: #E8C6D6;
  box-shadow: 0 50vh 0 50vh #E8C6D6;
}

.footer{
  padding-left: 5vw;
  padding-top: 1vw;
}

.footerContent{
  display: flex;
  justify-content: space-around;

}

.footerInfo{
  align-self: flex-start;
}
/*
  TEXT ELEMENTS -------------------
*/




/*
  COMBINED ELEMENTS -------------------
*/

#newsletter {
  font-size: 0.75rem;
}
select{
  color: #727272;
  width: 15rem;
  padding: 10px;
  margin: 8px 0;
}
#paymentFormInput{
  width: 30.6rem;
  padding: 10px;
  margin: 8px 0;
}

input[type=text], input[type=email], input[type=tel]{
  width: 15rem;
  padding: 10px;
  margin: 8px 0;
}

input[type=text]:focus, .paymentFormInput:focus {
  color: #CC6C9A;
  border: 3px solid #CC6C9A;
  transition-duration: 0.5s;
}

.paymentFormSubmit:focus{
  background-color: #CC6C9A;
  color: #ffffff;
  transition-duration: 0.5s;
}
.paymentForm{
  grid-column: 2 / 2;
  grid-row: 1;
}

.paymentFormBox{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-color: #727272;

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50vw, 50vw;
}
.checkoutBox{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #727272;

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50vw, 50vw;
}
.checkoutCart{
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  width: 25vw;
  border: 1px solid #727272;
  border-color: #727272;
}

.checkoutCode{
  grid-column: 1 / 2;
  grid-row: 1;
}

.paymentFormBox{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50vw, 50vw;
  padding-top: 5rem;
  margin: 5rem;
}

.paymentFormPage{
  grid-column: 2 / 2;
  grid-row: 1;
}

.subtotal{
  border-top: 3px solid #727272;
}


@font-face {
    font-family: 'PP Right Didone - Spatial Fine';
    src: url('../fonts/PPRightDidone-SpatialFine.woff2') format('woff2'),
        url('../fonts/PPRightDidone-SpatialFinet.woff') format('woff'),
        url('../fonts/PPRightDidone-SpatialFine.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.profileName{
  color: #CC6C9A;

}

.grid.add-gutters {
    
    grid-column-gap: 1rem;
	grid-row-gap: 5rem;
}

.grid {
	display: grid;
}

.grid.two-column {
    grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
    grid-auto-flow: row;
    padding:2.5rem;
}

.column{
    padding-top:2rem;
}

.sectionGap{
    border-top: solid 2px #E3E3E3;
    padding: 2.5rem;
    margin-top: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;

}

.wrapper2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:left;
    text-align: left;
    padding-left: 2.5rem;

}

.box2{
    padding-left: 12.5rem;
    
}

.box {
    margin: 3rem;
}

.imgDetail2{
    border:none;
    border-radius: 25px;
    flex-shrink: 0
}

.imgDetail2:hover, .imgDetail2:focus{
    cursor: pointer; 
    border: solid 2px #CC6C9A;
    filter: drop-shadow(-4px 2px 12px #000000);

}

.returnLink{
    text-align: center;
}

.returnLink:hover, .returnLink:focus{
    cursor: pointer;
    color: #FF7EBC;
    transition: 0.5s;
    
}
