  /*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 400;
  background: #FAFAFA;
  color: #353535;
  margin: 0;

}

*{

}

.infoLink{
    color: #CC6C9A;
    text-decoration: underline;
}

.infoLink:hover, .infoLink:focus{
    color:#CC6C9A;
    text-decoration: none;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #727272;
}

section{
    margin-bottom: 4rem;
}

h1{
  font-family: 'PP Right Didone - Spatial Fine', 'Garamond', serif;
  font-size: 2.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #353535;
}

h2 {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  color: #353535;
  font-size: 1em;
}

h3 {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  margin-top: 1rem;
  color: #353535;
  font-size: auto;

}

h4 {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 0.25rem;
  color: #353535;
  font-size: auto;
}

p {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 300;
  margin-top: 0;
  max-width: 60rem;
  color: #353535;
  max-width: 30rem;
  font-size: 1vw;
}

li {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  margin-top: 0;
  max-width: 60rem;
  color: #353535;

}

.p-product{
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  margin-top: 0;
  max-width: 30rem;
}

a{
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  color: #CC6C9A;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  color: #727272;
  transition-duration: 0.5s;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
nav a:hover, nav a:focus {
  color: #727272;
}

.mainNav{
  justify-content: space-around;
  text-decoration: none;
  padding-left: 1rem;
}

.mainNav a{
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 400;
  padding: 0.5rem;
}
.titleNav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.homeNavLink{
  color: #353535;
}

.imgDetail{
    border:none;
    border-radius: 25px;
    flex-shrink: 0
}

.headerLink{
  font-family: 'PP Right Didone - Spatial Fine', 'Garamond', serif;
  font-size: 2.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #353535;
  font-size: 100px;
}

.imgLink:hover{
  opacity: 70%;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/


/* Styling for the navigation button */
.defaultButton {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  font-size: 1vw;
  color: #CC6C9A;
  border: 2px #CC6C9A solid;
  background:#FAFAFA;
  border-radius: 0.5rem;
  width: 10vw;
  padding: 8px;
  margin: 8px 0;
    cursor: pointer;
}

.defaultButton:hover, .defaultButton:focus {
  background-color: #CC6C9A;
  border: 3px solid;
  border-color: #CC6C9A;

  color: #ffffff;
  width: 10vw;
  padding: 8px;
  margin: 8px 0;
  transition-duration: 0.5s;
}

.navSubmit{
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  font-size: 1vw;
  color: #CC6C9A;
  border: 2px #CC6C9A solid;
  background:#FAFAFA;
  border-radius: 0.5rem;
  width: 10vw;
  padding: 8px;
  margin: 8px 0;
}

.navSubmit:focus, .navSubmit:hover {
  background-color: #CC6C9A;
  border: 3px solid;
  border-color: #CC6C9A;

  color: #ffffff;
  width: 10vw;
  padding: 8px;
  margin: 8px 0;
  transition-duration: 0.5s;
}

.navReset{
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  font-size: 1vw;
  color: #CC6C9A;
  border: 2px #CC6C9A solid;
  background:#FAFAFA;
  border-radius: 0.5rem;
  width: 10vw;
  padding: 8px;
  margin: 8px 0;
}

.navReset:focus, .navReset:hover {
  background-color: #CC6C9A;
  border: 3px solid;
  border-color: #CC6C9A;

  color: #ffffff;
  width: 10vw;
  padding: 8px;
  margin: 8px 0;
  transition-duration: 0.5s;
}

.allProducts{
  padding-top: 3vw;
  padding-bottom: 3vw;
  display: flex;
  justify-content: center;
}

.hero1, .hero2, .hero3, .hero4{
  position: relative;
}

.hero1Content{
  display: block;
  line-height: 1rem;
  position: absolute;
  bottom: 10vw;
  left: 4vw;

}

.hero2Content{
  display: block;
  line-height: 1vw;
  position: absolute;
  bottom: 10vw;
  right: 4vw;
  max-width: 25vw;
}

.hero3Content{
  display: block;
  line-height: 1vw;
  position: absolute;
  bottom: 10vw;
  left: 4vw;
  max-width: 25vw;
}

.hero4Content{
  display: block;
  line-height: 1vw;
  position: absolute;
  bottom: 10vw;
  right: 4vw;
  max-width: 25vw;
}

.hero1Content h2, .hero2Content h2, .hero3Content h2, .hero4Content h2 {
  color: #FAFAFA;
  font-size: 3vw;
}

.hero1Content p, .hero2Content p, .hero3Content p, .hero4Content p {
  color: #FAFAFA;
  font-size: 1vw;
}

footer{
  background: #E8C6D6;
  box-shadow: 0 50vh 0 50vh #E8C6D6;
}

footer p{
  font-size: 1vw;
}

footer img{
  width: 3vw;
  width: 3vw;
}

.footer{
  padding-left: 5vw;
  padding-top: 1vw;
}

.footerContent{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footerInfo{
  align-self: flex-start;
}



/*
  COMBINED ELEMENTS -------------------
*/

#newsletter {
  font-size: 0.75rem;
}
select{
  color: #727272;
  width: 15rem;
  padding: 10px;
  margin: 8px 0;
}
#paymentFormInput{
  width: 30.6rem;
  padding: 10px;
  margin: 8px 0;
}

input[type=text], input[type=email], input[type=tel]{
  width: 15rem;
  padding: 10px;
  margin: 8px 0;
}

input[type=text]:focus, .paymentFormInput:focus {
  color: #CC6C9A;
  border: 3px solid #CC6C9A;
  transition-duration: 0.5s;
}

.paymentFormSubmit:focus{
  background-color: #CC6C9A;
  color: #ffffff;
  transition-duration: 0.5s;
}
.paymentForm{

}

.checkoutBox{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #727272;

  display: grid;

}
.checkoutCart{
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  width: 25vw;
  border: 1px solid #727272;
  border-color: #727272;
}

.paymentFormBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.paymentFormPage{
}

.subtotal{
  border-top: 3px solid #727272;
}

.profileName{
  color: #CC6C9A;

}

.grid.add-gutters {
  grid-column-gap: 2rem;
	grid-row-gap: 5rem;
}

.grid {
	display: grid;
}
.productDetailBox{
  border-top: solid 2px #E3E3E3;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
}
.grid.two-column {
    grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
    grid-auto-flow: row;
    padding:2.5rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

@media screen and (max-width: 80rem) {
    .wrapper {
        display: block;
    }
}

.box {
    margin: 1rem;
}

.imgDetail2{
    border:none;
    border-radius: 20px;
    flex-shrink: 0
}

.imgDetail2:hover, .imgDetail2:focus{
    border: solid 2px #CC6C9A;
    filter: drop-shadow(-4px 2px 12px #000000);

}

.returnLink{
    cursor:pointer;
    text-align: center;
}

.returnLink:hover, .returnLink:focus {
    color: #FF7EBC;
    transition:0.5s;
}

.logotype{
    font-family: 'PP Right Didone - Spatial Fine', 'Garamond', serif;
  font-size: 2rem;
  font-weight: bold;
  color: #353535;

}
/* Checkout Cart ------------------------------------------------------------------------------------------ */
.column{
    padding-top:2rem;
}

.sectionGap{
    border-top: solid 2px #E3E3E3;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.wrapper2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boxB{
    padding-left: 3vw;
    align-items: baseline;
}

.removeLink{
    color: #CC6C9A;
    text-decoration: underline;
    margin-top: 10vw;
}

.removeLink:hover, .removeLink:focus{
    color:#CC6C9A;
    text-decoration: none;
}

.checkoutImg{
    border:none;
    border-radius: 20px;
    flex-shrink: 0
}

.checkoutInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/* Landing Page  --------------------------------------------------------------------------------*/

.landingHero{
  padding-top: 3vw;
  width: auto;
}

.landingHero img, .productListingHero img{
  display:block;
  width: auto;
  max-width: 100%;
}

/*
  Product Listing Page  --------------------------------------------------------------------------------
*/
.productListingHero{
  padding-top: 3vw;
  width: 100vw;
}
.productNavLink{
  color: #353535;
}

.products{
  margin-top: 5rem;
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product img{
  padding: 5rem;
}

.productBorder{
  /* border: solid #353535 1px; */
  margin: 1vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.productBorder:hover, .productBorder:focus{
    box-shadow: 0 4px 8px 0 rgba(255, 126, 188, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.productBorder img{
    border-radius: 8px;
}

.productButton{
    padding-left: 1vw;
}
.productBorder h3{
  padding-left: 1rem;
}

/* About Page--------------------------------------------------------------------------------------- */

.aboutCopy{
  max-width: 50vw;
  font-size: 1vw;
}

.aboutNavLink{
  color: #353535;
}

/* Contact Page --------------------------------------------------------------------------------- */

.contactNavLink{
  color: #353535;
}
/* media queries --------------------------------------------------------------------------------*/
 @media (width < 1110px){
    .hero2Content, .hero3Content, .hero4Content {
     line-height: 1;
     max-width: 60vw;
   }
   .hero1Content h2, .hero2Content h2, .hero3Content h2, .hero4Content h2 {
     color: #FAFAFA;
     font-size: 5vw;
   }

   .hero1Content p, .hero2Content p, .hero3Content p, .hero4Content p{
     color: #FAFAFA;
     font-size: 3vw;
   }

   footer p, .wrapper2 p, .checkoutInfo p{
     font-size: 5vw;
   }
   footer img{
     width: 10vw;
     width: 10vw;
   }

   .footerContent{
     display: block;
   }

   .defaultButton, .navSubmit, .navReset{
     font-size: 2vw;
     font-weight: bold;
     width: 10rem;
   }

   .defaultButton:hover, .defaultButton:focus, .navSubmit:hover, .navSubmit:focus, .navReset:hover, .navReset:focus{
     font-size: 2vw;
     font-weight: bold;
     width: 10rem;
   }

   .aboutCopy{
       max-width: 50vw;
       font-size: 2vw;
   }
 }



/* typefaces --------------------------------------------------------------------------------*/
@font-face {
    font-family: 'PP Right Didone - Spatial Fine';
    src: url('../fonts/PPRightDidone-SpatialFine.woff2') format('woff2'),
        url('../fonts/PPRightDidone-SpatialFinet.woff') format('woff'),
        url('../fonts/PPRightDidone-SpatialFine.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
