  /*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 400;
  background: #FAFAFA;
  color: #353535;
  margin: 0;

}

.infoLink{
    color: #E8C6D6;
    text-decoration: underline;
}

.infoLink:hover, .infoLink:focus{
    color:#E8C6D6;
    text-decoration: none;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #727272;
}
section{
    margin-bottom: 4rem;
}

h1{
  font-family: 'PP Right Didone - Spatial Fine', 'Garamond', serif;
  font-size: 2.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #353535;
}

h2 {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  color: #353535;
  font-size: 1.5rem;
}

h3 {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  margin-top: 1rem;
  color: #353535;
  font-size: auto;

}

h4 {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 0.25rem;
  color: #353535;
  font-size: auto;
}

p {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 300;
  margin-top: 0;
  max-width: 60rem;
  color: #353535;
  max-width: 30rem;
  font-size: 1vw;
}

li {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  margin-top: 0;
  max-width: 60rem;
  color: #353535;
}

input{
  border-color: #E8C6D6;
}

*:focus{
  outline: none;
}

.p-product{
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  margin-top: 0;
  max-width: 30rem;
}

a{
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  color: #E8C6D6;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  color: #727272;
  transition-duration: 0.3s;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
nav a:hover, nav a:focus {
  color: #727272;
}

.mainNav{
  justify-content: space-around;
  text-decoration: none;
  padding-left: 1rem;
}

.mainNav a{
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 400;
  padding: 0.5rem;
}
.titleNav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.homeNavLink{
  color: #353535;
}

.imgDetail{
    border:none;
    border-radius: 25px;
    flex-shrink: 0;
}

.headerLink{
  font-family: 'PP Right Didone - Spatial Fine', 'Garamond', serif;
  font-size: 2.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #353535;
  font-size: 100px;
}

.imgLink:hover{
  opacity: 70%;
}

/*
  Confirm
*/

.centerContent{
    text-align: center;
}

.hero1Img{
  position: absolute;
}

.confirmContent{
    display: block;
    line-height: 1rem;
    position: relative;
    bottom: 53vh;

}

.confirmContent h2{
  color: #FAFAFA;
  font-size: 2vw;
}

.confirmPurchase{
    display: block;
    line-height: 1rem;
    position: relative;
    bottom: 53vh;
}

.confirmPurchase h2{
  color: #FAFAFA;
  font-size: 3vw;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/


/* Styling for the navigation button */
.defaultButton {
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  font-size: 1vw;
  color: #E8C6D6;
  border: 2px #E8C6D6 solid;
  background:#FAFAFA;
  border-radius: 0.5rem;
  width: 10vw;
  padding: 8px;
  margin: 8px 0;
  cursor: pointer;
}

.defaultButton:hover, .defaultButton:focus {
  background-color: #E8C6D6;
  border: 2px solid;
  border-color: transparent;
  border-radius: 0.5rem;

  color: #ffffff;
  width: 10vw;
  padding: 8px;
  margin: 8px 0;
  transition-duration: 0.3s;
}

.navSubmit{
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  font-size: 1vw;
  color: #FAFAFA;
  border: 2px #E8C6D6 solid;
  background:#E8C6D6;
  border-radius: 0.5rem;
  width: 10vw;
  padding: 8px;
  margin: 8px 0;
}

.navSubmit:focus, .navSubmit:hover {
  background-color: #FAFAFA;
  border: 2px solid;
  border-color: #E8C6D6;

  color: #E8C6D6;
  width: 10vw;
  padding: 8px;
  margin: 8px 0;
  transition-duration: 0.3s;
}

.navReset{
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  font-size: 1vw;
  color: #E8C6D6;
  border: 2px #E8C6D6 solid;
  background:#FAFAFA;
  border-radius: 0.5rem;
  width: 10vw;
  padding: 8px;
  margin: 8px 0;
}

.navReset:focus, .navReset:hover {
  background-color: #E8C6D6;
  border: 2px solid;
  border-color: #E8C6D6;

  color: #ffffff;
  width: 10vw;
  padding: 8px;
  margin: 8px 0;
  transition-duration: 0.3s;
}

/* Footer */

footer{
  background: #E8C6D6;
  box-shadow: 0 50vh 0 50vh #E8C6D6;
}

footer p{
  font-size: 1vw;
}

footer img{
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 3vw;
  width: 3vw;
}

.footer{
  padding-left: 5vw;
  padding-top: 4vw;
}

.footerContent{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footerInfo{
  align-self: flex-start;
}

.footerLogo h1{
  margin-top: 0;
  margin-bottom: 0;
}


/*
  COMBINED ELEMENTS -------------------
*/

#newsletter {
  font-size: 0.75rem;
}

select{
  color: #727272;
  width: 15rem;
  padding: 10px;
  margin: 8px 0;
}

#paymentFormInput{
  width: 30.6rem;
  padding: 10px;
  margin: 8px 0;
}
input{
  box-sizing:border-box
}

input[type=text], input[type=email], input[type=tel]{
  width: 15rem;
  padding: 10px;
  margin: 8px 0;
  border: 2px solid #E8C6D6;
}

input[type=text]:focus, input[type=text]:hover, input[type=email]:focus, input[type=email]:hover .paymentFormInput:focus {
  color: #E8C6D6;
  border: 2px solid #E3E3E3;
  transition-duration: 0.3s;
}


.paymentFormSubmit:focus{
  background-color: #FAFAFA;
  color: #E8C6D6;
  transition-duration: 0.3s;
}

.checkoutBox{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #727272;

  display: grid;

}
.checkoutCart{
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  width: 25vw;
  border: 1px solid #727272;
  border-color: #727272;
}

.paymentFormBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.paymentFormPage{
}

.subtotal{
  border-top: 3px solid #727272;
}

.profileName{
  color: #E8C6D6;

}

.grid.add-gutters {
  grid-column-gap: 2rem;
	grid-row-gap: 5rem;
}

.grid {
	display: grid;
}
.productDetailBox{
  border-top: solid 2px #E3E3E3;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
}
.grid.two-column {
    grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
    grid-auto-flow: row;
    padding:2.5rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.addPadding{
    padding-left: 3vw;

}

.seeMoreDiv{
    text-align: center;
}

.boldText{
    font-weight: bold;
}

@media screen and (max-width: 50rem) {
    .wrapper {
        display: block;
    }
}


.imgDetail2{
    border:none;
    border-radius: 20px;
    flex-shrink: 0
}

.imgDetail2:hover, .imgDetail2:focus{
    border: solid 2px #E8C6D6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.logotype{
  font-family: 'PP Right Didone - Spatial Fine', 'Garamond', serif;
  font-size: 2rem;
  font-weight: bold;
  color: #353535;
  margin-top: 0px;
}

/* Checkout Cart ------------------------------------------------------------------------------------------ */
.column{
    padding-top:2rem;
}

.sectionGap{
    border-top: solid 2px #E3E3E3;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.wrapper2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
}

.boxB{
    margin-left: 3vw;
    align-items: baseline;
}

.boxB H2{
    font-size: 35px;
}

.boxB p{
    font-size: 20px;
}

.removeLink{
    color: #E8C6D6;
    text-decoration: underline;
    margin-top: 10vw;
}

.removeLink:hover, .removeLink:focus{
    color:#E8C6D6;
    text-decoration: none;
}

.checkoutImg{
    border:none;
    border-radius: 20px;
    flex-shrink: 0
}

.checkoutInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/* Landing Page  --------------------------------------------------------------------------------*/

.landingHero{
  padding-top: 3vw;
  width: auto;
}

.landingHero img{
  display:block;
  width: auto;
  max-width: 100%;
}

.hero1{
  position: relative;
}

.hero1Content{
  display: block;
  line-height: 1.5rem;
  position: absolute;
  bottom: 15vw;
  left: 6vw;
  max-width: 28vw;
}

.hero2{
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  padding-top: 4vw;
}

.hero2Content{
  padding-right: 12vw;
  padding-bottom: 4vw;
  line-height: 1.5rem;
  color: #323232;
  max-width: 50vw;
}

.hero2Img{
  padding-right: 15%;
}


.hero3Content{
  display: block;
  line-height: 2vw;
  max-width: 25vw;
}
.hero4{
  padding-top: 6vw;
}

.hero1Content h2{
  color: #FAFAFA;
  font-size: 3vw;
}

.hero1Content p{
  font-size: 1vw;
  color: #FAFAFA;
}

.hero2Content h2, .hero3Content h2{
  color: #323232;
  font-size: 3vw;
}

.confirmContent h2, .confirmPurchase h2{
    color: #FAFAFA;
    font-size: 3vw;

}

.hero2Content p, .hero3Content p{
  color: #323232;
  font-size: 1vw;
}

.allProducts{
  color: #323232;
  padding-top: 3vw;
  padding-bottom: 3vw;
  display: flex;
  justify-content: center;
}

.allProductsContent{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.allProductsContent h1{
  margin-bottom: 0px;
}

.allProductsContent h2{
  font-size: 1.5em;
  font-style: italic;
}


/*
  Product Listing Page  --------------------------------------------------------------------------------
*/
.productListingHero{
  padding-top: 3vw;
  width: 100%;
}
.productNavLink{
  color: #353535;
}

.products{
    margin-top: 5rem;
    padding-left: 20vw;
    padding-right: 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productsIndex{
    margin-top: 5rem;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.product img{
  padding: 5rem;
}

.productBorder{
  /* border: solid #353535 1px; */
  margin: 1vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.productBorder:hover, .productBorder:focus{
    box-shadow: 0 4px 8px 0 rgba(232, 198, 214, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.productBorder img{
    border-radius: 8px;
}

.productButton{
    padding-left: 1vw;
}
.productBorder h2, .productBorder h3{
  padding-left: 1rem;
}

/*
  Product Details Page  --------------------------------------------------------------------------------
*/

.quantityButton{
      font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  font-size: 1vw;
  color: #E8C6D6;
  border: 2px #E8C6D6 solid;
  background:#FAFAFA;
  border-radius: 0.5rem;
  width: 5vw;
  padding: 8px;
  margin:8px 0;
    cursor: pointer;

}

.dropDownButton{
      font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-weight: 200;
  font-size: 1vw;
  color: #E8C6D6;
  border: 2px #E8C6D6 solid;
  background:#FAFAFA;
  border-radius: 0.5rem;
  width: 20vw;
  padding: 8px;
  margin:8px 0;
    cursor: pointer;

}

.titleMargin{
    margin-left:8px;

}

.reviewBox{
    border: solid 2px #353535;
    width: 22rem;
    height: 23rem;
    flex-shrink: 0;
    justify-content: center;
    margin-bottom: 5vh;
    padding-left: 25px;
    padding-right: 25px;
}

.productWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}


.reviewHeader{
    font-weight: bold;
    font-size: 23px;
    margin-left: 5vh;

}

.reviewButtonBox{
  display: flex;
  flex-direction: column;
    margin-top: -2vw;
  margin-left: 2.5vw;
  margin-right: 5vw;
  margin-bottom: 2vw;
  align-items: flex-start;
}

#reviewTextBox{
    width: 50%;
    height: 10vw;
    border: 2px #353535 solid;
    font-size: 1rem;
    padding: 1rem;
    font-family: "Noto Sans HK", 'Courier New', sans-serif;
    font-size: 1 rem;
    margin-left: 5vh;
    margin-bottom: 5vh;
}


.starImage{
    width: 15rem;
    height: 2.6rem;
    padding-top: 1rem;
}

.starImage2{
    width: 15rem;
    height: 2.6rem;
    margin-top: -1vw;
    padding-top: 1rem;
    margin-left: 5vh;
    margin-bottom: 2vh;
}

.checked {
  color: #E8C6D6;
}

.reviewBox h2{
    font-size: 23px;
}

.reviewBox p{
    font-size: 15px;
    color: #7C7C7C;

}



/* About Page--------------------------------------------------------------------------------------- */

.aboutHero{
  padding-top: 3vw;
  width: auto;
}

.aboutHero img{
  width: auto;
  max-width: 100%;
  position: absolute;
}

.aboutCopy{
  color: #FAFAFA;
  max-width: 50vw;
  font-size: 1vw;
  line-height: 1.5rem;
}

.aboutContent1{
  position: relative;
  color: #FAFAFA;
  top: 25vw;
  left: 10vw;
  max-width: 30%
}

.aboutContent1 h1{
    color: #FAFAFA;
}

.aboutContent2{
  position: relative;
  color: #FAFAFA;
  top: 50vw;
  left: 60vw;
  max-width: 30%
}

.aboutContent2 h1{
    color: #FAFAFA;
}

.aboutContent3{
  padding-top: 70vw;
  display: flex;
  justify-content: center;
}
.centerButton{
  padding-bottom: 3vw;
  display: flex;
  justify-content: center;
}

.aboutNavLink{
  color: #353535;
}

/* Contact Page --------------------------------------------------------------------------------- */

.contactContent{
  display: flex;
  justify-content: center;

}

.centerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contactNavLink{
  color: #353535;
}

.contactHeader{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contactContent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 22vw;
  margin-right: 22vw;
}

.contactContent h1{
  justify-content: center;
}

.contactName{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 25vw;
  margin-right: 25vw;
  justify-content: space-between;
}

#firstName {
  width: 45%;
}

#lastName{
  width: 45%;
}

.contactEmail{
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 25vw;
  margin-right: 25vw;;
}
.contactText{
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 25vw;
  margin-right: 25vw;
}

#contactEmailInput{
  width: 100%;
  border: 2px solid #E8C6D6;
}

#contactTextBox{
  width: 100%;
  height: 15vw;
  border: 2px #E8C6D6 solid;
  font-size: 1rem;
  padding: 0.5rem;
  font-family: "Noto Sans HK", 'Courier New', sans-serif;
  font-size: 0.8rem;
}

#contactTextBox:focus, #contactTextBox:hover{
  border: 2px #E3E3E3  solid;
  transition-duration: 0.3s;
}

#contactEmailInput:focus, #contactEmailInput:hover{
  border: 2px #E3E3E3  solid;
  transition-duration: 0.3s;
}

.contactButtonBox{
  display: flex;
  flex-direction: column;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-bottom: 6vw;
  align-items: flex-end;
}

/* media queries --------------------------------------------------------------------------------*/
 @media (width <= 1210px){

    .hero2Content, .hero3Content{
     max-width: 60vw;
   }

   .hero1{
     display: flex;
     flex-direction: column;
     position: static;
   }

   .hero1Content{
     align-self: center;
     line-height: 2rem;
     position: static;
     max-width: 60%;
     padding-top: 2vw;
     text-align: center;
   }

   .hero1Content p, .hero1Content h2{
     color: #323232;
   }

   .hero2{
     display: flex;
     flex-direction: column;
   }
   .hero2Img{
      padding-right: 0px;
   }

   .hero2Content{
     align-self: center;
     padding-right: 0px;
     line-height: 1.5rem;
     padding-top: 5vw;
     text-align: center;
   }

   .allProducts{
     text-align: center;
   }
   .hero1Content h2, .hero2Content h2, .hero3Content h2{
     font-size: 5vw;
   }

   .hero1Content p, .hero2Content p, .hero3Content p, .allProducts p, .confirmContent p, .aboutContent a{
     font-size: 3vw;
   }

   footer p, .wrapper2 p, .checkoutInfo p, .wrapper p{
     font-size: 2vw;
   }
   footer img{
     width: 5vw;
     width: 5vw;
   }

   .footerContent{
     display: block;
   }

   .defaultButton, .navSubmit, .navReset{
     font-size: 2vw;
     font-weight: bold;
     width: 20vw;
   }

   .defaultButton:hover, .defaultButton:focus, .navSubmit:hover, .navSubmit:focus, .navReset:hover, .navReset:focus{
     font-size: 2vw;
     font-weight: bold;
     width: 20vw;
   }

   .confirmContent{
       display: block;
       line-height: 1rem;
       position: relative;
       bottom: 30vh;

   }

   .confirmPurchase{
       display: block;
       line-height: 1rem;
       position: relative;
       bottom: 30vh;
   }


   .aboutContent3{
     padding-top: 60vw;
     display: flex;
     justify-content: center;
   }
 }

 @media (width <= 1102px) {
   .contactName input{
     padding-left: 1vw;
     margin-right: 1vw;
     width: 100%;
   }

   .aboutContent2{
     position: relative;
     color: #FAFAFA;
     top: 40vw;
     left: 60vw;
     max-width: 30%
   }

   .aboutContent3{
     padding-top: 55vw;
     display: flex;
     justify-content: center;
   }


 }

 @media (width <= 923px){

   .products{
     margin-top: 5rem;
     padding-left: 10vw;
     padding-right: 10vw;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
   }

 }
 @media (width < 905px){

   .checkoutCart{
     margin-top: 2rem;
     padding-left: 2rem;
     padding-right: 2rem;
     padding-bottom: 2rem;
     width: 100vw;
     border: 1px solid #727272;
     border-color: #727272;
   }

   .checkoutCart p{
     font-size: 4vw;
   }
 }

 @media (width < 565px){

   #paymentFormInput{
     width: 80vw;
     padding: 10px;
     margin: 8px 0;
   }

   .checkoutCart{
     margin-top: 2rem;
     padding-left: 2rem;
     padding-right: 2rem;
     padding-bottom: 2rem;
     width: 100vw;
     border: 1px solid #727272;
     border-color: #727272;
   }

   .checkoutCart p{
     font-size: 4vw;
   }
 }

 @media (width < 404px){

   nav{
     font-size: 3vw;
   }

   .aboutCopy{
     font-size: 3vw;
     max-width: 68%;
     padding-left: 16vw;
     padding-right: 16vw;
   }

   .confirmContent{
       display: block;
       line-height: 1rem;
       position: relative;
       bottom: 15vh;

   }

   .confirmPurchase{
       display: block;
       line-height: 1rem;
       position: relative;
       bottom: 15vh;
   }

 }

/* typefaces --------------------------------------------------------------------------------*/
@font-face {
    font-family: 'PP Right Didone - Spatial Fine';
    src: url('../fonts/PPRightDidone-SpatialFine.woff2') format('woff2'),
        url('../fonts/PPRightDidone-SpatialFinet.woff') format('woff'),
        url('../fonts/PPRightDidone-SpatialFine.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
